html {
  display: block;
  margin: 8px;
  font-family: 'Franklin Gothic Medium';
}

#mainHeading {
  color: red;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

p {
    display: block;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 80px;
    margin-left: 80px;
  }

  img {
    display: block;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    max-width: 80px;
    max-height: 60px;

  }

  figure {
    display: block;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
  }

  body {
    display: block;
    background-color: lightblue;
  }

p.funParagraph {
  color: green;
}
